IMPORT HOURLY CLEAR SKY SOLAR DATA

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('clear_sky_SA.csv')
print(df)

          daydec  Direct Beam  DirectHz  GlobalHz  DifHz
0       1.020833          0.0       0.0       0.0    0.0
1       1.062500          0.0       0.0       0.0    0.0
2       1.104167          0.0       0.0       0.0    0.0
3       1.145833          0.0       0.0       0.0    0.0
4       1.187500          0.0       0.0       0.0    0.0
...          ...          ...       ...       ...    ...
8754  365.770833          0.0       0.0       0.0    0.0
8755  365.812500          0.0       0.0       0.0    0.0
8756  365.854167          0.0       0.0       0.0    0.0
8757  365.895833          0.0       0.0       0.0    0.0
8758  365.937500          0.0       0.0       0.0    0.0

[8759 rows x 5 columns]

In [7]:
df['day'] = df.daydec.astype(int)
print(df)

          daydec  Direct Beam  DirectHz  GlobalHz  DifHz  day
0       1.020833          0.0       0.0       0.0    0.0    1
1       1.062500          0.0       0.0       0.0    0.0    1
2       1.104167          0.0       0.0       0.0    0.0    1
3       1.145833          0.0       0.0       0.0    0.0    1
4       1.187500          0.0       0.0       0.0    0.0    1
...          ...          ...       ...       ...    ...  ...
8754  365.770833          0.0       0.0       0.0    0.0  365
8755  365.812500          0.0       0.0       0.0    0.0  365
8756  365.854167          0.0       0.0       0.0    0.0  365
8757  365.895833          0.0       0.0       0.0    0.0  365
8758  365.937500          0.0       0.0       0.0    0.0  365

[8759 rows x 6 columns]

CALCULATE AVERAGE DAILY GLOBAL HORIZONTAL IRRADIANCE

In [19]:
df_agg = df.groupby('day')[['Direct Beam', 'GlobalHz']].mean()
print(df_agg)

     Direct Beam    GlobalHz
day
1     317.898291  192.008489
2     318.183234  192.444984
3     318.489604  192.920433
4     318.817051  193.434516
5     319.165198  193.986881
..           ...         ...
361   316.805411  190.419558
362   316.978888  190.657475
363   317.175142  190.935514
364   317.393959  191.253503
365   331.445319  199.942160

[365 rows x 2 columns]

SHOW YEARLY MEAN GLOBAL HORIZONTAL IRRADIANCE (GlobalHz Column)

In [20]:
df_agg.describe()

       Direct Beam    GlobalHz
count   365.000000  365.000000
mean    380.929561  286.300178
std      39.861491   59.396722
min     316.240528  189.835737
25%     343.677310  227.783430
50%     390.815902  300.139609
75%     416.325269  344.234676
max     432.447283  356.068331